<div class="modal-header" style="position: relative;">
	<h3 class="modal-title"><i class="fa fa-hand-o-right"></i>请选择你要需要的选题类型</h3>
	<a href="javascript:;" style="position:absolute; top:20px; right:20px;border:0;" data-ng-click="cancel()"><i class="fa fa-times"></i></a>
</div>

<div class="modal-body">
	<ul class="row" style="padding:0!important;">
		<li class="col-md-1"></li>
		<li data-ng-repeat="at in data" data-ng-click="select(at)" class="col-md-5 selected-topic">
			<button class="btn btn-default" style="width:100%;">{{at.name}}</button>
			<div><img style="display: block;width:100%;" data-ng-src="{{at.imgurl}}" /></div>
		</li>
	</ul>
</div>

<div class="modal-footer">
	<button class="btn btn-warning" data-ng-click="cancel()">取消</button>
</div>