<div class="rec-page">
	<div class="rec-top">
		关键词：<span class="keywords" data-ng-repeat="item in remContent.keyWords">{{item}}</span>
	</div>
	<div class="rec-down">
		<ul class="rec-layer">
			<li class="rec-list" data-ng-repeat="item in detailContent.recData">				
				<div class="img-info pull-left">
					<img data-ng-src="{{item.imgUrl}}" />
				</div>
				<div class="item-middle pull-left">
						<p class="item-title">{{item.title}}</p>
						<p class="item-attr">
							<span class="attr author"><i class="glyphicon glyphicon-user "></i>{{item.author}}</span>
							<span class="attr source"><i class="glyphicon glyphicon-th-large"></i>{{item.source}}</span>
							<span class="attr channel"><i class="glyphicon glyphicon-th-large"></i>{{item.channel}}</span>
						</p>				
				</div>
				<div class="item-date pull-right">
							<div class="icon">&nbsp;</div>
							<p class="date">
								<i class="glyphicon glyphicon-calendar"></i>{{item.date}}
							</p>	
				</div>				
				<div class="item-rt">
					<p><a href="javascript:;">详情</a></p>
				</div>
			</li>			
		</ul>	
	</div>
</div>