<div class="detail-page">
	<div class="page-top">
		<div class="top-title">
			<h1>{{topicObj.data.name}}</h1>
		</div>
		<div class="top-bar">
			<ul class="bar-list">
				<li class=""><a href="javascript:void(0);"><span class="glyphicon glyphicon-edit"></span>编辑</a></li>
				<li class=""><a href="javascript:void(0);"><span class="glyphicon glyphicon-send"></span>提交</a></li>
				<li class=""><a href="javascript:void(0);"><span class="glyphicon glyphicon-print"></span>打印</a></li>
				<li class="">
					<div class="dropdown">
					  	<a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
					   	 更多
					  	<span class="caret"></span>
					  	</a>
						  	<ul class="dropdown-menu menu-list" role="menu" aria-labelledby="dropdownMenu1">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="#">撤回</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="#">待审</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="#">收藏</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="#">下载</a></li>
						  	</ul>
					</div>
				</li>
			</ul>
			
		</div>	
	</div>
	<div class="page-down">
		<uib-tabset class="tab-layer" >
			<uib-tab data-ng-repeat="tab in detailDownTitle.detailTab" heading="{{tab.title}}" data-ng-click="detailDownTitle.detailCallBack($index)"></uib-tab>
		</uib-tabset>
		<div class="detail-cnt" data-ng-include="'template/topicContent.html'" data-ng-if="detailDownTitle.count==0"></div>
		<div class="detail-cnt" data-ng-include="'template/linkContent.html'"  data-ng-if="detailDownTitle.count==1"></div>
		<div class="detail-cnt" data-ng-include="'template/recommendContent.html'" data-ng-if="detailDownTitle.count==2"></div>
		<div class="detail-cnt" data-ng-include="'template/flowLog.html'" data-ng-if="detailDownTitle.count==3"></div>
	</div>
</div>

