<div id="ui_topic_mycreated" class="">
	<!-- 列表部分 左边 -->
	<div class="left-container">
		<!-- 查询条件 -->
		<div class="condition">
			<div class="text-center single-box">
				<div class="search-box">
					<i class="glyphicon glyphicon-search"></i>
					<input type="text" placeholder="输入选题名称或关键字搜索" />
				</div>
				<a href="javascript:;" data-ng-click="condition.moreCtrl()">
					筛选条件<i class="fa" data-ng-class="{true:'fa-sort-asc', false:'fa-sort-desc'}[condition.moreShow]"></i>
				</a>
			</div>
			<div class="more" data-ng-class='{isShow: !condition.moreShow}'>
				<ul>
					<li style="width:100%;height:1px;"></li>
					<li class="condition-item" data-ng-repeat="itemObj in condition.data" condition-item condition-data="condition.data" item-obj="itemObj" 
						out-selected="condition.filter" show-filter="condition.showFilter" multi-show="itemObj.multi" self-show="itemObj.selfShow" out-random="mytopicList.randomNum"></li>
				</ul>
				<div class="condition-item last-item">
					<div class="label-box">
						<label>创建日期:</label>
					</div>
					<div class="breed-box">
						<ul>
							<li data-ng-repeat="at in condition.time"><a href="javascript:;" data-ng-click="condition.selectTime(at)" data-ng-class="{true:'active', false:''}[at.active]" >{{at.option}}</a></li>
							<!--<li>
								<a href="javascript:;">不限</a>
							</li>-->
							<!--<li>
								<a href="javascript:;">当天</a>
							</li>
							<li>
								<a href="javascript:;">本周</a>
							</li>
							<li>
								<a href="javascript:;">本月</a>
							</li>-->
						</ul>
					</div>
					<div class="pull-right action-box">
						<!--<div uib-datepicker datepicker-options="options"></div>-<div uib-datepicker datepicker-options="options"></div>-->
						<a class="" href="javascript:;">确定</a>
					</div>
				</div>
			</div>
		</div>
		<!-- 筛选条件部分 -->
		<div class="filter" data-ng-if="condition.showFilter">
			<div class="pull-left">我的选题<i class="fa fa-angle-right"></i></div>
			<ul class="pull-left">
				<li class="pull-left filter-item" data-ng-repeat="item in condition.filter">{{item.name}}：<span>{{item.data | limitTo: 2}}</span><i class="fa fa-times" data-ng-click="condition.del(item)"></i></li>
				<!--<div class="pull-left filter-item" result-item value-item="">状态：<span>待审</span><i class="fa fa-times"></i></div>
				<div class="pull-left filter-item" result-item>分类：<span>时政</span> <i class="fa fa-times"></i></div>
				<div class="pull-left filter-item" result-item>发布渠道：<span>电视</span> <i class="fa fa-times"></i></div>-->
			</ul>
			<div class="pull-left">
				<a href="javascript:;" data-ng-click="condition.clearFilter()">清空筛选</a>
			</div>
			<div style="clear:both"></div>
		</div>
		<!-- 排序部分 -->
		<div class="sort" id="flagDiv">
			<ul>
				<li>
					<a href="javascript:;" data-ng-click="condition.clearSort()">默认排序</a>
				</li>
				<li data-ng-repeat="at in condition.sort"><a href="javascript:;" data-ng-click="condition.sortFunc(at)">{{at.name}}<i class="fa fa-sort"></i></a></li>
				<!--<li>
					<a href="javascript:;">创建时间<i class="fa fa-sort"></i></a>
				</li>
				<li>
					<a href="javascript:;">发布渠道<i class="fa fa-sort"></i></a>
				</li>-->
				<!--<li>
					<a href="javascript:;">状态<i class="fa fa-sort"></i></a>
				</li>-->
			</ul>
			<span class="pull-right">当前页10条/共50条</span>
		</div>
		<!-- 列表部分 -->
		<div class="list-box" layout-self fit-height="mytopicList.loseHeight">
			<ul beaut-scroll class="topicList">
				<li class="row no-margin " data-ng-class="{active: item==topicObj.data}"
					data-ng-repeat="item in mytopicList.data" data-ng-click="mytopicList.showDetail(item)"  >
					<div class="pull-left item-left">
						<a href="javascript:;" data-ng-click="mytopicList.selected(item, $event)"><i class="fa" data-ng-class="{false:'fa-square-o', true:'fa-check-square-o'}[item.selected]" ></i></a>
						<img class="thumb" item-img data-ng-src="{{item.thumbnailId}}" />
					</div>
					<div class="item-intro">
						<div class="row no-margin item-top">
							<div class="col-md-12 detail">
								{{item.name}}
							</div>
						</div>
						<div class="row no-margin-right item-bottom">
							<div class="col-md-3 no-padding icon-gray"><i class="glyphicon glyphicon-user "></i><span>{{item.createdBy}}</span></div>
							<div class="col-md-3 no-padding-right icon-gray"><i class="glyphicon glyphicon-th-large"></i><span>{{item.source}}</span></div>
							<div class="col-md-3 no-padding-right icon-gray"><i class="fa fa-tags"></i><span>{{item.channel}}</span></div>
							<div class="col-md-3 no-padding-right icon-gray"><i class="fa fa-weibo ng-scope"></i><span>(3)</span></div>
						</div>
					</div>

					<div class="pull-right item-right">
						<div class="text-center">
							<div status-show class="status-icon" status-num="item.extraData.mo_status">
								<div class="icon-box"></div>
								<div class="status-tip"></div>
							</div>
						</div>
						<div class="item-bottom icon-gray">
							<div style="line-height:12px;">
								<i class="glyphicon glyphicon-calendar"></i>{{item.createdTime | date:'yyyy-MM-dd hh:mm:ss'}}
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="toolbar">
			<i class="fa" data-ng-class="{true:'fa-check-square-o', false: 'fa-square-o'}[mytopicList.allSelected]" data-ng-click="mytopicList.allchecked()" ></i> 全选
			<btn data-ng-click="mytopicList.submit()" class="btn btn-primary">提交</btn>
			<btn data-ng-click="mytopicList.print()" class="btn btn-default">打印选题单</btn>
		</div>
	</div>
	<!-- 详情页 -->
	<div class="detail-container" data-ng-include="'template/topicDetail.html'" data-ng-if="topicObj.show"></div>
</div>